<div id="integration-points" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/integration-points.less</em>, <em>assets/js/pages/integration-points.page.js</em>, and <em>api/controllers/view-integration-points.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
