<div id="messages" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/messages.less</em>, <em>assets/js/pages/messages.page.js</em>, and <em>api/controllers/view-messages.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
